/*
SUMMARY
0. Custom properties
1. Base
2. Globals
3. Helpers
4. Nav
5. Today
6. History
7. Exchange
8. Retail
9. Media queries
10. Developer
*/
/* 0. Custom propierties
================================ */
:root {
  --f-family-base: "Raleway", sans-serif;
  --f-weight-base: 400;
  --f-weight-m: 500;
  --f-weight-l: 300;
  --f-size-xs: 1rem;
  --f-size-s: 1.3rem;
  --f-size-base: 1.6rem;
  --f-size-l: 1.9rem;
  --f-size-xl: 2.2rem;
  --f-size-xxl: 4.5rem;
  --f-size-xxxl: 5.5rem;
  --lightblue: #05a6f1;
  --green: #325654;
  --lightgreen: #bec9b7;
  --dark: #333533;
  --light: #dad9c9;
}
/* 1. Base
================================ */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--f-family-base);
  font-size: var(--f-size-base);
  font-weight: var(--f-weight-base);
  line-height: 1.4;
  background-color: var(--white);
  color: var(--dark);
}
a {
  text-decoration: none;
}
a:link {
  color: var(--lightgreen);
}
a:visited {
  font-style: italic;
  color: var(--lightgreen);
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: var(--light);
}
img {
  width: 100%;
}
/* 2. Globals
================================ */
.container {
  max-width: 92%;
  margin: auto;
}
.s-title,
.title {
  font-weight: var(--f-weight-m);
  text-align: center;
  text-transform: capitalize;
}
.s-title {
  margin: 0;
  background-color: var(--green);
  color: var(--light);
  padding: 1rem;
  font-size: var(--f-size-xl);
}
.title {
  font-size: var(--f-size-l);
}
/* 3. Helpers
================================ */
.warning {
  padding: 1rem;
  background-color: var(--light);
  color: var(--dark);
  text-align: center;
  border-radius: 1rem;
  width: min(100%, 48rem);
  margin: 1rem auto;
}
/* 4. Nav
================================ */
.nav {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.nav a {
  padding: 1rem;
}
/* 5. Today
================================ */
.today {
  text-align: center;
}
.today__flags {
  width: min(100%, 48rem);
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.today figure {
  margin: 0;
  max-width: 12rem;
}
.today figcaption {
  font-weight: var(--f-weight-m);
}
/* 6. History
================================ */
.history {
  width: min(100%, 48rem);
  margin: auto;
  border-collapse: collapse;
}
.history th {
  background-color: var(--lightgreen);
  color: var(--white);
}
.history th,
.history td {
  text-align: center;
  padding: 0.2rem;
  border-bottom: 0.1rem solid var(--light);
  font-size: var(--f-size-s);
}
.history tr:hover {
  background-color: var(--light);
}
/* 7. Exchange
================================ */
.exchange {
  width: min(100%, 48rem);
  margin: 2rem auto;
}
.exchange legend {
  font-size: var(--f-size-s);
  padding: 0.5rem;
  text-align: center;
}
.exchange fieldset {
  border: 0.1rem solid var(--lightgreen);
}
.exchange label,
.exchange input,
.exchange button {
  display: block;
}
.exchange label {
  margin-top: 0;
}
.exchange input {
  width: 100%;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 0.1rem solid var(--lightgreen);
}
.exchange input[type="number"]::-webkit-inner-spin-button,
.exchange input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.exchange input:focus,
.exchange button:focus {
  outline: none;
}
.exchange button {
  width: 100%;
  margin: 2rem auto 1rem;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--dark);
  color: var(--light);
}
.exchange button:hover {
  cursor: pointer;
  background-color: var(--light);
  color: var(--dark);
  transition: 0.2s ease-in-out;
}
/* 8. Retail
================================ */
.retail {
  width: 100%;
  border-collapse: collapse;
}
.retail caption {
  margin: 1.6rem;
}
.retail th {
  background-color: var(--light);
  color: var(--dark);
}
.retail th,
.retail td {
  text-align: center;
  border-bottom: 0.1rem solid var(--light);
  font-size: var(--f-size-s);
  font-weight: var(--f-weight-m);
  padding: 0.5rem;
}
.retail__flag {
  width: 4rem;
}
/* 9. Media queries
================================ */
@media screen and (min-width: 480px) {
  .container {
    max-width: 420px;
  }
  .history th,
  .history td {
    padding: 0.5rem;
    font-size: var(--f-size-base);
  }
  .retail th,
  .retail td {
    font-size: var(--f-size-base);
    padding: 1rem;
  }
  .retail__flag {
    width: 6rem;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .today figure {
    max-width: 14rem;
  }
  .today figcaption {
    font-size: var(--f-size-l);
  }
  .exchange button {
    width: 16rem;
    margin-right: 0;
  }
  .retail th,
  .retail td {
    font-size: var(--f-size-xl);
  }
  .retail__flag {
    width: 8rem;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
  .retail th,
  .retail td {
    font-size: var(--f-size-xxl);
    padding: 1.8rem;
  }
  .retail__flag {
    width: 10rem;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .retail th,
  .retail td {
    font-size: var(--f-size-xxxl);
    padding: 3.2rem 1.6rem;
  }
  .retail__flag {
    width: 12rem;
  }
}
/* DEVELOPER
============================= */
.dev {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: gray;
  padding: 8px 16px;
}
.dev .top {
  text-align: left;
}
.dev .bottom {
  text-align: right;
}
.dev a {
  color: #05a6f1;
}
.dev a:link {
  text-decoration: none;
}
.dev a:visited {
  font-style: italic;
}
.dev a:hover {
  text-decoration: underline;
}
.dev a:active {
  font-style: italic;
  text-decoration: underline;
  color: gray;
}
