/*
Summary
Custom properties
Base
Globals
Helpers
Media queries
*/
:root {
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.container {
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
.t-a-center {
  text-align: center;
}
/*
BEM Block, Element, Modifier
Modules
Utilities
*/
